<div class="row">
  <div class="col-12">
    <h1 class="line">Recipes Book</h1>
  </div>
</div>
<div class="row mt-3">
  <form #form="ngForm" (ngSubmit)="onSearch()">
    <div class="col-12">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          (input)="onSearch()"
          placeholder="search"
          name="userInput"
          [(ngModel)]="searchItem"
        />
        <button type="submit" class="ms-1 btn btn-outline-success">
          Search
        </button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <h4 *ngIf="filterRecipes.length == 0" class="mt-3">{{ noItems }}</h4>
</div>
<div class="row mx-auto">
  <!--
    <div data-aos="fade-up"
     data-aos-duration="3000">
</div>
   -->
  <app-recipes-item
    class="col-md-6 col-lg-4 col-xl-3 mt-3 offset-0"
    *ngFor="let recipe of filterRecipes; let i = index"
    [recipeItem]="recipe"
    data-aos="zoom-in"
    data-aos-duration="1700"
    [recipeId]="recipe.id"
  ></app-recipes-item>
</div>
